/* for dat.gui color picker: */
/*
div.selector{
    display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;
}
*/
body{
    margin: 0;
}

#content{
    max-width: 98%;
    margin: auto;
}
.insert_button{
    max-width: 20%;
    margin-bottom: 15px;
}
.grid_img{
    max-height: 65px;
}
.modal_img{
    max-height: 400px;
    max-width: 550px;
    display: block;
    margin: auto;
}
/*
img{
    max-height: 25px;
}*/
.flex{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
}
.block{
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
}

/* file / group:*/
.no_scroll{
   overflow:hidden;
}

code{
    color: #000000;
}
/*
#CodeEditorModal{
    position: fixed;
    right: auto;
    top: 20px;
    bottom: auto;
    left: 20px;
    overflow: auto;
    max-width: 80%;
    max-height: 90%;
    margin: auto;
}
#filebrowserModal{
    position: fixed;
    right: auto;
    top: 20px;
    bottom: auto;
    left: 20px;
    overflow: auto;
    max-width: 80%;
    max-height: 90%;
    margin: auto;
}
#CodeEditorModalBody{
    padding: 10px;
    margin: auto;
}
#filebrowserModalBody{
    padding: 10px;
    margin: auto;
}*/

.univ {
    position: fixed;
    right: 0;
    top: auto;
    bottom: 0;
    left: auto;
    z-index: 1040;
    overflow: hidden;
    /*max-width: 180px;*/
}
.univ-dialog{
    margin-bottom: 0;
    max-width: 110px;
    opacity: 0.9;
}
.univ-content{
    max-width: 108px;
}
.univ-body{
    padding: 0;
}
.univ-header{
    padding: 0;
    max-width: 95px;
}
.input_sm{
    max-width: 75px;
}
/*
.jPicker.Container{
    z-index: 2000;
    right: 0;
    left: auto;
    bottom: 0;
    top: auto;
}*/
