<template name="files">
    {{#if isInRole 'admin'}}
        {{> insert_file}}
    {{/if}}
    {{> view_files}}
</template>

<template name="insert_file">
    <div class="insert_button">
        {{#afModal class="btn btn-default btn-block" collection="File" fields="uuid,title,width,height,image,fileType,script,permissions,dateModified" id="insert_file" operation="insert" buttonContent="Insert File" title="Insert a New File" buttonClasses="btn-primary"}}New File{{/afModal}}
    </div>
</template>

<template name="view_files">
    {{> tabular table=TabularTables.File class="table table-striped table-bordered table-condensed"}}
</template>

<template name="operation_file">
    <div class="block">
        <div class="flex">
            <div class="update_button">
                {{#if isInRole 'admin'}}
                    {{#afModal class="btn btn-default btn-block" collection="File" fields="uuid,title,width,height,image,fileType,script,permissions,dateModified" id="update_file" operation="update" doc=this._id buttonContent="Update File" title="Update File" buttonClasses="btn-primary"}}<span class="glyphicon glyphicon-upload" aria-hidden="true"></span>{{/afModal}}
                {{/if}}
            </div>
            <div class="remove_button">
                {{#if isInRole 'admin'}}
                    {{#afModal class="btn btn-default btn-block" collection="File" fields="userId,title" id="remove_file" operation="remove" doc=this._id buttonContent="Remove File" title="Remove File" buttonClasses="btn-primary" prompt="Are you sure? This will delete all groups and shapes under this File."}}<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>{{/afModal}}
                {{/if}}
            </div>
        </div>
        <div class="flex">
            <div class="view_button">
                <a href="/file/{{this._id}}" target="_blank">
                <button class="btn btn-default btn-block" id="view_file"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button></a>
            </div>
            <div class="edit_button">
                <a href="/filem/{{this._id}}" target="_blank">
                <button class="btn btn-default btn-block" id="edit_file"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button></a>
            </div>
        </div>
    </div>
</template>

<template name="show_file">
</template>

<template name="svgEditor">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="svgEditor">
    </svg>
    {{> svgCodeEditor}}
    {{> filebrowserModal}}
</template>

<template name="show_meteor_file_svg">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="{{this._id}}">
    </svg>
</template>


<template name="svgCodeEditor">
    <!--
    <section class="modal-show" id="CodeEditorModal" tabindex="-1" role="dialog" aria-labelledby="CodeEditorModalLabel" aria-hidden="true" style="visibility: hidden;" >
        <div class="modal-inner" id='CodeEditorModalInner'>
            <header id="CodeEditorModalLabel">
                <button onclick="menuItemCodeSave();" data-close="Close" data-dismiss="modal">Save</button>
            </header>
            <div class="modal-content" id='CodeEditorModalBody' style="overflow:auto;" contentEditable="true"></div>
        </div>
    </section>-->

<!--
    <div id="modal-overlay" style="visibility: hidden;"></div>
    <div id="modal-container" style="visibility: hidden;"><div id="modal-header" style="cursor: default;"><div id="modal-close"></div></div><div id="modal-content"></div></div>-->

    <div class="modal fade" id="CodeEditorModal" tabindex="-1" role="dialog" aria-labelledby="CodeEditorModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-body" id="CodeEditorModalBody" style="overflow:auto;" contentEditable="true">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="enablePan();">Close</button>
            <button type="button" class="btn btn-primary" onclick="menuItemCodeSave();">Save changes</button>
          </div>
        </div>
      </div>
    </div>
</template>

<template name="filebrowserModal">
    <!--
    <section class="modal-show" id="filebrowserModal" tabindex="-1" role="dialog" aria-labelledby="filebrowserModalLabel" aria-hidden="true" style="visibility: hidden; margin:auto" >
        <div class="modal-inner" id='filebrowserModalInner'>
            <div class="modal-content" id='filebrowserModalBody' style="overflow:auto; margin:auto"></div>
        </div>
    </section>-->

    <div class="modal fade" id="filebrowserModal" tabindex="-1" role="dialog" aria-labelledby="filebrowserModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body" id="filebrowserModalBody"></div>
            </div>
        </div>
    </div>
</template>
